<!-- footer.component.html -->
<footer class="footer">
    <p>&copy; © 2024 Yale School of Art</p>
    <nav class="footer-links">
      <a routerLink="/contact">Contact</a>
      <a href="https://www.art.yale.edu/about/support-the-school" target="_blank">Support the School</a>
      <a href="https://www.art.yale.edu/about/visiting" target="_blank">Visiting</a>
      <a href="https://www.facebook.com/YaleSchoolofArt/" target="_blank">Facebook</a>
      <a href="https://instagram.com/yaleschoolofart" target="_blank">Instagram</a>
      <a href="http://yaleart.org/youtube" target="_blank">Youtube</a>
      <a href="https://www.art.yale.edu/about/contact" target="_blank">Contact</a>
      <a href="https://www.art.yale.edu/sitemap" target="_blank">Site Map</a>
      <a href="https://your.yale.edu/policies-procedures/policies/1605-web-accessibility-policy" target="_blank">Accessibility At Yale</a>
    </nav>
  </footer>
  