<header class="header relative h-48 flex">
    <!-- Background overlay with lower z-index -->
    <div class="overlay absolute inset-0 bg-white bg-opacity-30"></div>
    
    <!-- Header Title with higher z-index -->
    <h1 class="text-white text-6xl z-10 relative font-playfair pt-6 pl-6">Yale School of Art</h1>
    
    <!-- Header Address Section with same high z-index -->
    <h2 class="text-white text-sm absolute right-4 top-1/2 transform -translate-y-1/2 z-10 font-roboto">
      Yale School of Art<br>
      1156 Chapel Street, POB 208339<br>
      New Haven, Connecticut, 06520-8339
    </h2>
</header>