<nav class="navbar flex justify-end space-x-8 bg-gray-800 text-white py-4 font-sans">
    <a routerLink="/" class="hover:text-orange-500 relative">Home
        <span class="block h-0.5 bg-orange-500 scale-x-0 hover:scale-x-100 transition-transform duration-300 origin-left absolute bottom-0 left-0 right-0"></span>
    </a>
    <a routerLink="/about" class="hover:text-orange-500 relative">About the School
        <span class="block h-0.5 bg-orange-500 scale-x-0 hover:scale-x-100 transition-transform duration-300 origin-left absolute bottom-0 left-0 right-0"></span>
    </a>
    <a routerLink="/apply" class="hover:text-orange-500 relative">Apply
        <span class="block h-0.5 bg-orange-500 scale-x-0 hover:scale-x-100 transition-transform duration-300 origin-left absolute bottom-0 left-0 right-0"></span>
    </a>
    <a routerLink="/exhibitions" class="hover:text-orange-500 relative">Exhibitions
        <span class="block h-0.5 bg-orange-500 scale-x-0 hover:scale-x-100 transition-transform duration-300 origin-left absolute bottom-0 left-0 right-0"></span>
    </a>
    <a routerLink="/publications" class="hover:text-orange-500 relative">Publications
        <span class="block h-0.5 bg-orange-500 scale-x-0 hover:scale-x-100 transition-transform duration-300 origin-left absolute bottom-0 left-0 right-0"></span>
    </a>
    <a routerLink="/news" class="hover:text-orange-500 relative">News
        <span class="block h-0.5 bg-orange-500 scale-x-0 hover:scale-x-100 transition-transform duration-300 origin-left absolute bottom-0 left-0 right-0"></span>
    </a>
    <a routerLink="/events" class="hover:text-orange-500 relative pr-12">Public Events
        <span class="block h-0.5 bg-orange-500 scale-x-0 hover:scale-x-100 transition-transform duration-300 origin-left absolute bottom-0 left-0 right-0"></span>
    </a>
</nav>
